@model RoleDTO

<label asp-for="ID" class="col-form-label"></label>
<input asp-for="ID" class="form-control"  readonly/>


<label asp-for="Name" class="col-form-label"></label>
<input asp-for="Name" class="form-control" readonly />

</div>


