@model EmployeeDTO
@inject IDepartmentRepository _repo
@{
//     var departmentS = new SelectList(_repo.GetAllAsync()as IEnumerable<Department>, "Id", "Name");
    var departmentS = ViewBag.Departments as SelectList;
}

<label asp-for="Name" class="col-form-label"></label>
<input asp-for="Name" class="form-control" readonly />


<div class="my-3">
    <label asp-for="Age" class="col-form-label"></label>
    <input asp-for="Age" class="form-control" type="number" readonly />
</div>

<div class="my-3">
    <label asp-for="Email" class="col-form-label"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>

<div class="my-3">
    <label asp-for="Salary" class="col-form-label"></label>
    <input asp-for="Salary" class="form-control" type="number" readonly />
</div>

<div class="my-3">
    <label asp-for="Phone" class="col-form-label"></label>
    <input asp-for="Phone" class="form-control" readonly />
</div>

<div class="my-3">
    <label asp-for="Address" class="col-form-label"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>

<div class="my-3">
    <label asp-for="StartAt" class="col-form-label"></label>
    <input asp-for="StartAt" class="form-control" readonly />
</div>

<div class="my-3">
    <label asp-for="CreatedAt" class="col-form-label"></label>
    <input asp-for="CreatedAt" class="form-control" readonly />
</div>

<div class="my-3">
    <label asp-for="IsActive" class="col-form-label"></label>
    <input asp-for="IsActive" class="form-check-input" type="checkbox" disabled />
</div>

<div class="my-3">
    <label asp-for="IsDeleted" class="col-form-label"></label>
    <input asp-for="IsDeleted" class="form-check-input" type="checkbox" disabled />
</div>

<div class="my-3">
    <label asp-for="DepartmentId" class="col-form-label"></label>
    <select asp-for="DepartmentId" class="form-control" asp-items="departmentS" disabled>
       
    </select>
</div>