@model USERSdtocs
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />
<br />
<form asp-action="Delete" class="my-3" >
<partial name="EmployeePartial/View" />


<div class="m-3">
        <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>
</form>

