@model USERSdtocs
@{
    ViewData["Title"] = "Edit";

}

<h1>Edit</h1>
<br />
<br />
<form asp-action="Edit" enctype="multipart/form-data " asp-route-id="@ViewData["id"]">
@* <form asp-action="Edit" enctype="multipart/form-data" asp-route-id="@Model.Id">
 *@
<partial name="EmployeePartial/CreateEditView" />


   

    <div class="m-3">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>
@section validate
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
