
@model USERSdtocs



<div class="my-3">
    <label asp-for="UserName" class="col-form-label"></label>
    <input asp-for="UserName" class="form-control" />
    
</div>
<div class="my-3">
    <label asp-for="FirstName" class="col-form-label"></label>
    <input asp-for="FirstName" class="form-control"  />
   
    </div>
<div class="my-3">
    <label asp-for="LastName" class="col-form-label"></label>
    <input asp-for="LastName" class="form-control"  />

</div>
        <div class="my-3">
            <label asp-for="Email" class="col-form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class=" text text-danger"></span>
            </div>
              
                                           



                                                                                    @section validate
                                                                        {
                                                                            <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
                                                                            <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
                                                                        }
