@model ForgetPasswordDTO
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthoLayout.cshtml";
}
<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="text-danger"></div>

		
		<form asp-action="SendResetPassword" method="post">
			<input class="text email" asp-for="Email" placeholder="Email" required="">

			<div class="clear"></div>
			<input type="submit" value="Send Reset Link">
		</form>

		<p>Create ACCOUNT? <a asp-action="SignUp">Sign Up Now!</a></p>
		<p>Forget Password? <a asp-action="ForgetPassword">Click here!</a></p>
	</div>
</div>

@section Validation {
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


